@import "./variable.less";

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  margin: 0;
}

#app {
  height: 100%;
}

.main {
  padding-top: @header-height;
  padding-bottom: @tabbar-height;
  overflow: scroll;
}
